.list-group-item.header
{
    background-color: #70dc70;
    border-color: #69d069;
}

.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success
{
    background-color: #70dc70;
    border-color: #69d069;
}

.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover
{
    color: #fff;
    background-color: #70dc70;
    border-color: #69d069;
}


.popover.confirmation.fade.top.in{
    width: 200px;
}

h3.popover-title{
    text-align: center;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > thead > tr > th
{
    vertical-align: middle;
    text-align: center;
}