.content {
    padding: 15px;
}





.form-group > #image_preview
{
    width:150px;
    border:solid 1px #dedede;
    padding:10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
input[name="image_browse"]
{
    padding-left: 0px;
    padding-right: 0px;
}

form.form-horizontal#imageform
{
    margin-top: 25px;
}

form>table>tbody>tr>td.align-top
{
    vertical-align: top;
    padding-left: 0px;
    padding-right: 0px;
}
form>table>tbody>tr>td.align-top>div#preview
{
    width: 250px;
    text-align: center;
    line-height: 180px;
    float: left;
}
div.form-group>div#preview
{
    width: 200px;
    text-align: center;
    line-height: 180px;
    float: none;
}

div.form-group>div>input[type="checkbox"]
{
    height: 20px;
    width: 20px;
    margin: 0px;
    margin-left: 10px;
}
#loading
{
    display:none;
    margin-top: 30px;
    width: 220px;
}
form>table>tbody>tr>td.align-top>div#preview > img
{
    max-width: 250px;
}
div.form-group>div#preview > img
{
    max-width: 200px;
}