<form action="/backend/login" method="post">
    <div class="form-group">
        <input type="text" name="login" class="form-control" placeholder="login">
    </div>
    <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="password">
    </div>
    <input type="submit" class="btn btn-danger" value="Увійти">
</form>